.body{
  
    background-color: rgb(11, 99, 99);
}

.estilo{
    border: 1px solid greenyellow;
    background-color: rgb(94, 74, 74);
}
.bordes{
    border: 1px solid aqua;
    background-color: red;
}
.containerheader{
    display: flex;
    justify-content: center;
    justify-content: space-between;
    align-items: center;
}
.item1{
    order: 1;
    flex-grow: 2;
    
}
.item2{
    order: 2;
} 
.item3{
    order: 3;
    flex-grow: 3;
    align-self: flex-end;
}
.item4{
    order: 4;
    flex-shrink: 4;
}